.box {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  background-color: aqua 
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.inline {
    display: flex;
}